* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Calibri", sans-serif;
    background-color: #f7f7f7;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.link {
    color: #000000;
    text-decoration: none;
}

/* Grid System */
.row {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    padding: 1rem;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
@media only screen and (max-width: 758px) {
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}

/* Navbar */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarlogo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #f36c21;
    padding: 10px;
    height: 40px;
    font-size: 22px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}        
.navbarmenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 100%;
}
.navbarlink {
    font-size: 22px;
    list-style: none;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}
.navbarlink a {
    color: #f36c21;
    text-decoration: none;
}
.navbarlink:hover {
    border-bottom: 3px solid #f36c21;
}
.navbarlink.active {
    border-bottom: 3px solid #f36c21;
}
.navbarlink a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
@media only screen and (min-width: 768px) {
    .navbar {
        top: 0;
    }
    .navbarlogo {
        width: auto;
        position: relative;
    }
}

/* Home */
.home {
    height: 700px;
    background-color: #272822;
}
.code {
    padding-top: 150px;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
}
.code-blue {
    color: #62D9E0;
}
.code-green {
    color: #9EDF2E;
}
@media (max-width: 768px){
    .code {
        width: auto;
        font-size: 15px;
    }
}

/* Portfolio */
.portfolio h1 {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}
.portfolio p {
    text-align: center;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
}
.browser {
    width: auto;
    height: auto; 
    display: block;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}
.browser .browser-header {
    background-color: #ffffff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
    display: flex;
}
.browser .browser-header i {
    border-radius: 5px;
    margin: 0 3px;
    width: 10px;
}
.browser .browser-header i:nth-child(1) {
    background-color: #ED6B5F;
    height: 10px;
}
.browser .browser-header i:nth-child(2) {
    background-color: #F5C250;
    height: 10px;
}
.browser .browser-header i:nth-child(3) {
    background-color: #63C755;
    height: 10px;
}
.browser .browser-body {
    height: auto;
}
.browser .browser-body img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Contact */
.contact {
    height: 900px;
}
.contact h1 {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}
.contact p {
    text-align: center;
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
}
.card {
    text-align: center;
    border-radius: 5px;;
    background-color: #ffffff;
    padding: 45px 0px 45px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}
.card a {
    text-decoration: none;
    color: #000000;
}
.card .fa {
    font-size: 48px;
    color: #f36c21;
}

/* Footer */
footer{
    text-align: center;
    padding: 50px 0px 60px 0px;
}
.icon {
    font-family: 'Helvetica neue', sans-serif;
    text-decoration: none;
    color: #495057;
}
